html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
    background-color: #c28d4b;
    position: fixed;
    width: 250px;
    color: rgb(255, 255, 255);
    padding: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.menu-btn {
    background-color: #c28d4b;
    color: rgb(231, 230, 230);
    border: none;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.menu-btn:hover {
    background-color: #e0caaf;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.content {
    background-color: #e9d788;
    margin-left: 270px;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('images/354045695_816920203136976_330973949639594886_n.jpg');
}

.content.permbledhje {
    background-image: url('path/to/your/custom/image.jpg');
    background-size: cover;
    background-position: center center;
}

/* General info-box styles */
.info-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    height: auto;
    transform: translateY(-270%);
    transition: transform 0.6s ease-in-out;
    overflow: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.info-box.show {
    transform: translateY(66%);
}

.content.content-arkitekture .info-box.show {
    transform: translateY(200%);
}

.content.content-it .info-box.show {
    transform: translateY(220%);
    transform: translateX(77%);
}

.content.content-edukimi .info-box.show {
    transform: translateY(-200%);
}

.content.content-finance .info-box.show {
    transform: translateY(200%);
}

.content.content-mjekesi .info-box.show {
    transform: translateY(200%);
    transform: translateX(-70%);
}

.content.permbledhje .info-box.show {
    transform: translateY(10%);
}

.read-more {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.hidden {
    display: none;
}